<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/registration.css">
    <link th:href="@{/registration.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/body.css">
    <link th:href="@{/body.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/header.css">
    <link th:href="@{/header.css}" rel="stylesheet"/>
    <title>Registration</title>
</head>
<body>


<!--<div>-->
<!--    &lt;!&ndash;        <a th:href="@{/people/{id}(id=${role.getId()})}" th:text="${person.getName()}">user</a>&ndash;&gt;-->
<!--    &lt;!&ndash;        <p th:text="${roles.getName()}">user</p>&ndash;&gt;-->
<!--</div>-->
<div th:replace="layout :: header"/>
<div class="content">
    <div class="container">
        <div class="title">Sign up</div>
        <form th:action="@{/sign/up}" method="post">
            <div class="user-details">
                <div class="result_message" th:style="${display_message}">
                    <span class="message" th:text="${message}"></span>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="First Name" required th:name="name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Last Name" required th:name="surname">
                </div>
                <div class="input-box">
                    <input type="email" placeholder="Email" required th:name="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Phone number" required th:name="phone">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" required th:name="password">
                </div>
            </div>
            <div class="button">
                <input class="submit" type="submit" value="Register">
            </div>
        </form>
        <div class="link">
            <span>Already have an account?<a href="/sign/in">Login</a></span>
        </div>
    </div>
</div>

<!-- <div class="reg_log">
<div class="reg">
  <a href="up.html">Register</a>
</div>
<br/>
<div class="log">
  <a href="login">Login</a>
</div>
</div> -->
</body>

</html>