<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/unsuccessfully.css}" rel="stylesheet"/>

        <link rel="stylesheet" href="../static/unsuccessfully.css">
        <link type="text/css" href="../static/unsuccessfully.css" rel="stylesheet"/>
    <title>Congrats</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><h1>Clothes<span>Shop</span></h1></a>
    </div>
    <nav>
        <ul>
            <a href="#">
                <li>Woman</li>
            </a>
            <a href="#">
                <li>Man</li>
            </a>
            <a href="#">
                <li>Kids</li>
            </a>
            <a href="#">
                <li>Sale</li>
            </a>
            <a href="#">
                <li>Account</li>
            </a>
        </ul>
    </nav>
</header>
<div class="content">
    <div class="massage">
        <span>User has not been created:(</span>
        <div class="button_back">
            <a href="/register">← Back to Registration</a>
        </div>
    </div>

</div>
</body>
</html>